.hero
    background: rgb(2,0,36)
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%)
    min-height: 50vh
    padding: 5%
    color: #fff
    display: flex
    align-items: center
    justify-content: center
    @media screen and (min-width:576px)
        padding: 5%
    &__title
        font-size: 48px
        text-transform: uppercase
    &__paragraph
        font-size: 18px