@import hero
@import block

*
    margin: 0
    padding: 0
    overflow-x: hidden

.separador
    padding: 1em
.container
    padding: 5em


/* Linea Azul */
hr.linea-azul
    height: 4px
    width: 50%
    background-color: #090979
/* Sobre Mi */
.sobre-mi    
    background-color: #fafafa